* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap");

$bancolor: #f2f5e2;
$footcolor: #002b40;
$tcolor: #cb6c56;

$hfont: "Handlee", cursive;
$tfont: "Roboto", sans serif;
$font-weights: (
  "thin": 100,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}
